body {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  margin: 0;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  font-family: var(--ff-base);
  font-size: 1rem;
  line-height: 1.6;
  color: var(--blue-950);
}

:root {
  --blue-500: hsl(223, 87%, 63%);
  --blue-200: hsl(223, 100%, 88%);
  --red-400: hsl(354, 100%, 66%);
  --gray-400: hsl(0, 0%, 28%);
  --blue-950: hsl(209, 33%, 12%);
  --white: hsl(0, 0%, 100%);
  --att: hsl(223, 66%, 56%);

  --ff-base: "Libre Franklin", sans-serif;
}

/* UTILITY */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  align-items: flex-start;
}

/* END UTILITY */


.header {
  margin-top: 4.65em;
}

.main {
  margin-top: 1.15em;
  inline-size: 90vw;
  min-inline-size: 20.25rem;
  font-size: 20px;
  
  @media (width >= 48rem) {
    max-inline-size: 39.85rem;
  }
}

.intro {
  text-align: center;
}

.intro__heading {
  font-weight: 300;
  /* font-size: 3.01rem;
  font-size: 40px; */
  font-size: clamp(2.5rem, 1.6rem + 4vw, 3.01rem);
  color: var(--gray-400);
  line-height: 1;

  @media (width >= 48rem) {
    line-height: unset;
  }
}

.intro__highlight {
  font-weight: 700;
  color: var(--blue-950);
}

.intro__subheading {
  margin-top: .2em;
}

.subscription-form {
  --radius: 3em;
  margin-top: 2.35em;
  flex-direction: column;
  gap: 1em;
  font-size: 1rem;

  @media (width >= 48rem) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__group {
  inline-size: 100%;
  @media (width >= 48rem) {
    flex: 1;
    inline-size: unset;
  }
}

.form__input,
.form__button {
  padding-block: .88em;
  border-radius: var(--radius);
  border: none;
  outline: 1.5px solid var(--blue-200);
}

.form__input {
  padding-left: 1.86em;
}

.form__button {
  inline-size: 100%;
  font-weight: 600;
  background-color: var(--blue-500);
  color: var(--white);
  box-shadow: 0 5px 15px hsl(from var(--blue-500) h s l / .4);
  cursor: pointer;
  transition: opacity .2s ease;

  @media (width >= 48rem) {
    inline-size: unset;
    min-inline-size: 12.5rem;
  }
}

.form__error {
  margin-top: .5em;
  margin-left: 2.45em;
  font-style: italic;
  font-size: .77rem;
  color: var(--red-400);
}

.subscription-dialog {
  padding: 1em;
  inline-size: 22rem;
  text-align: center;
  border: 2px solid var(--blue-500);
  border-radius: 8px;

  h2 {
    font-size: 1.5rem;
    line-height: 1;
  }

  p {
    margin-top: 1em;
    font-size: 1rem;
    text-wrap: balance;
  }

  button {
    margin-top: 1em;
    padding: .4em .8em;
    font-size: .95rem;
    background-color: var(--blue-500);
    border: none;
    border-radius: 2px;
    color: var(--white);
  }
}

.subscription-dialog::backdrop {
  background-color: hsl(from var(--blue-500) h s l / .4);
}

.dashboard {
  margin-top: 4.08em;
}

.footer {
  margin-top: 4.55em;
  padding-bottom: 1em;
  /* padding-block: 1em; */
}

.social-list {
  justify-content: center;
  gap: .8em;
}
.social__link {
  padding: .28em;
  place-content: center;
  color: var(--blue-500);
  border: 1px solid var(--blue-200);
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.copyright,
.attribution {
  font-size: .8rem;
  text-align: center;
}

.copyright {
  margin-top: 1.75em;
}

.attribution__link {
  margin-inline: .3em;
  font-weight: 600;
  color: var(--att);
  text-decoration: underline dotted;
  text-underline-offset: 2px;
}


/* STATES */

.focus-outline:focus-visible {
  outline: 2px dotted var(--blue-200);
  outline-offset: 3px;
  text-decoration: none;
}

.form__button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.form__button:not(:disabled):hover {
  opacity: .85;
}

.social__link:hover {
  background-color: var(--blue-500);
  color: var(--white);
}

.form__input:not(:placeholder-shown):invalid {
  outline-color: var(--red-400);
}

.attribution__link:hover {
  text-decoration: none;
}